<a href="https://colab.research.google.com/github/gyujin0450/Rstudy/blob/master/204_%EC%8B%A4%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# ggplot2 패키지에 있는 mpg 데이터셋을 이용해서
# 다음 문제들을 풀어보세요
library(ggplot2)
str(mpg)

tibble [234 × 11] (S3: tbl_df/tbl/data.frame)
 $ manufacturer: chr [1:234] "audi" "audi" "audi" "audi" ...
 $ model       : chr [1:234] "a4" "a4" "a4" "a4" ...
 $ displ       : num [1:234] 1.8 1.8 2 2 2.8 2.8 3.1 1.8 1.8 2 ...
 $ year        : int [1:234] 1999 1999 2008 2008 1999 1999 2008 1999 1999 2008 ...
 $ cyl         : int [1:234] 4 4 4 4 6 6 6 4 4 4 ...
 $ trans       : chr [1:234] "auto(l5)" "manual(m5)" "manual(m6)" "auto(av)" ...
 $ drv         : chr [1:234] "f" "f" "f" "f" ...
 $ cty         : int [1:234] 18 21 20 21 16 18 18 18 16 20 ...
 $ hwy         : int [1:234] 29 29 31 30 26 26 27 26 25 28 ...
 $ fl          : chr [1:234] "p" "p" "p" "p" ...
 $ class       : chr [1:234] "compact" "compact" "compact" "compact" ...

In [ ]:
head(mpg,5)

  manufacturer model displ year cyl trans      drv cty hwy fl class
1 audi         a4    1.8   1999 4   auto(l5)   f   18  29  p  compact
2 audi         a4    1.8   1999 4   manual(m5) f   21  29  p  compact
3 audi         a4    2.0   2008 4   manual(m6) f   20  31  p  compact
4 audi         a4    2.0   2008 4   auto(av)   f   21  30  p  compact
5 audi         a4    2.8   1999 6   auto(l5)   f   16  26  p  compact

In [ ]:
# 차종class과 도시연비cty를 조회하세요
library(dplyr)
head(mpg %>% select(class, cty),5)

  class   cty
1 compact 18
2 compact 21
3 compact 20
4 compact 21
5 compact 16

In [ ]:
# 차종이 suv, compact인 차량중 어느 차량이 도시연비가 높은지 알아보세요
suv_cty <- max(mpg %>% filter( class == "suv" ) %>% select(cty)) 
compact_cty <- max(mpg %>% filter( class == "compact" ) %>% select(cty))
result <- ifelse( suv_cty > compact_cty , "suv" , "compact")
result

[1] "compact"

In [ ]:
# (모범답안)
# 차종이 suv, compact인 차량중 어느 차량이 평균 도시연비가 높은지 알아보세요
# select를 먼저 수행해서 범위 줄이고 필더를 함(열연산를 먼저)
suv <- mpg %>% select(class, cty) %>% filter(class == "suv") 
# mean(suv$cty)
# compact <- mpg %>% filter( class == "compact" ) %>% select(cty)
compact <- mpg %>% select(class, cty) %>% filter(class == "compact") 
# mean(compact$cty)
result <- ifelse( mean(suv$cty) > mean(compact$cty) , "suv" , "compact")
result

[1] "compact"

In [ ]:
# 배기량displ에 따라(4,5)  어느 차량이 고속도로연비hwy가 높은지 알아보세요
table(mpg$displ)

1.6 1.8 1.9   2 2.2 2.4 2.5 2.7 2.8   3 3.1 3.3 3.4 3.5 3.6 3.7 3.8 3.9   4 4.2
  5  14   3  21   6  13  20   8  10   8   6   9   4   5   2   3   8   3  15   4
4.4 4.6 4.7   5 5.2 5.3 5.4 5.6 5.7 5.9   6 6.1 6.2 6.5   7
  1  11  17   2   5   6   8   1   8   2   1   1   2   1   1

In [ ]:
displ_4 <- max(mpg %>% filter(displ == 4) %>% select(hwy))
displ_5 <- max(mpg %>% filter(displ == 5) %>% select(hwy))
ifelse( displ_4 > displ_5, "배기량4", "배기량5")

[1] "배기량4"

In [ ]:
# (모범답안) select -> filter, 평균비교
displ_4 <- mpg %>% select(displ, hwy) %>% filter(displ == 4)
displ_5 <- mpg %>% select(displ, hwy) %>% filter(displ == 5)
ifelse( mean(displ_4$hwy) > mean(displ_5$hwy), "배기량4", "배기량5")

[1] "배기량4"

In [ ]:
# 제조사manufacturer에 따라(audi, toyota) 어느 차량이 도시연비cty가 높은지 알아보세요
audi_cty <- max(mpg %>% filter( manufacturer == "audi") %>% select(cty))
toyota_cty <- max(mpg %>% filter( manufacturer == "toyota") %>% select(cty))
ifelse( audi_cty > toyota_cty, "audi", "toyota")

[1] "toyota"

In [ ]:
# (모범답안) select -> filter, 평균비교

In [ ]:
# chervolet, ford, honda 차량의 평균 고속도로연비를 조회하시오
car3 <- mpg %>% select(manufacturer, hwy) %>% filter(manufacturer %in% c('chevrolet','ford','honda'))
mean(car3$hwy)

[1] 22.50943

In [ ]:
table(mpg$manufacturer)

      audi  chevrolet      dodge       ford      honda    hyundai       jeep
        18         19         37         25          9         14          8
land rover    lincoln    mercury     nissan    pontiac     subaru     toyota
         4          3          4         13          5         14         34
volkswagen
        27

In [ ]:
# 고속도로연비와 도시연비를 합산해서 allmpg를 allmpg를 2로 나눠 avgmpg라는 컬럼을 생성하세요
# sungjuk <- sungjuk %>% mutate(tot = eng + mat + sci, avg = round(tot /3,1))
mpg <- mpg %>% mutate( allmpg = hwy + cty , avgmpg = allmpg /2 )
head(mpg, 5)

  manufacturer model displ year cyl trans      drv cty hwy fl class   allmpg
1 audi         a4    1.8   1999 4   auto(l5)   f   18  29  p  compact 47
2 audi         a4    1.8   1999 4   manual(m5) f   21  29  p  compact 50
3 audi         a4    2.0   2008 4   manual(m6) f   20  31  p  compact 51
4 audi         a4    2.0   2008 4   auto(av)   f   21  30  p  compact 51
5 audi         a4    2.8   1999 6   auto(l5)   f   16  26  p  compact 42
  avgmpg
1 23.5
2 25.0
3 25.5
4 25.5
5 21.0

In [ ]:
# 차량의 실린더cyl가 4면 4기통을 6이면 6기통을, 그외는 8기통이라고 출력하는 clydesc라는 컬럼을 생성하세요
mpg <- mpg %>% mutate( clydesc = case_when(cyl == 4 ~ "4기통", cyl == 6 ~ "6기통" , TRUE ~ ""))
head(mpg,5)

  manufacturer model displ year cyl trans      drv cty hwy fl class   allmpg
1 audi         a4    1.8   1999 4   auto(l5)   f   18  29  p  compact 47
2 audi         a4    1.8   1999 4   manual(m5) f   21  29  p  compact 50
3 audi         a4    2.0   2008 4   manual(m6) f   20  31  p  compact 51
4 audi         a4    2.0   2008 4   auto(av)   f   21  30  p  compact 51
5 audi         a4    2.8   1999 6   auto(l5)   f   16  26  p  compact 42
  avgmpg clydesc
1 23.5   4기통
2 25.0   4기통
3 25.5   4기통
4 25.5   4기통
5 21.0   6기통