<a href="https://colab.research.google.com/github/gyujin0450/Rstudy/blob/master/301_%EB%B3%B5%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
햄버거 종류와 가격을 출력하세요
프렌차이즈만 출력하세요

가격이 4000원 이상인 버거의 종류와 프랜차이즈명을 출력하세요
가격이 3000원 이하인 버거의 종류와 프랜차이즈명을 출력하세요
가격이 3000원인 버거의 종류와 프랜차이즈명을 출력하세요
가격이 4000원 이상 또는 2000원 이하인 버거의 종류와 프랜차이즈명을 출력하세요
가격이 4000원 이상이고 종류가 치즈버거인 프랜차이즈명을 출력하세요
가격이 4000원 이상이고 프랜차이즈명이 A 또는 B인 버거의 종류를 출력하세요

In [12]:
load('burgers.rdata')

In [13]:
head(burgers)

  프랜차이즈명 종류       가격
1 A            불고기버거 3000
2 A            치즈버거   4000
3 A            치킨버거   4500
4 B            불고기버거 3500
5 B            치즈버거   2500
6 B            치킨버거   4000

In [15]:
install.packages("dplyr")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [16]:
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [30]:
burgers %>% select(프랜차이즈명)

  프랜차이즈명
1 A
2 A
3 A
4 B
5 B
6 B
7 C
8 C
9 C

In [28]:
# 중복제거
burgers %>% distinct(프랜차이즈명)

  프랜차이즈명
1 A
2 B
3 C

In [33]:
# 가격이 4000원 이상인 버거의 종류와 프랜차이즈명을 출력하세요
# burgers %>% filter(가격 >= 4000) %>% select(종류,프랜차이즈명)
burgers %>% select(종류,프랜차이즈명,가격) %>% filter(가격 >= 4000) # 변수가 많을 경우, 분석하고자 하는 변수를 먼저 선택함

  종류       프랜차이즈명
1 치즈버거   A
2 치킨버거   A
3 치킨버거   B
4 불고기버거 C

In [20]:
# 가격이 3000원 이하인 버거의 종류와 프랜차이즈명을 출력하세요
burgers %>% filter(가격 <= 3000) %>% select(종류,프랜차이즈명)

  종류       프랜차이즈명
1 불고기버거 A
2 치즈버거   B
3 치즈버거   C
4 치킨버거   C

In [21]:
# 가격이 3000원인 버거의 종류와 프랜차이즈명을 출력하세요
burgers %>% filter(가격 == 3000) %>% select(종류,프랜차이즈명)

  종류       프랜차이즈명
1 불고기버거 A
2 치킨버거   C

In [22]:
# 가격이 4000원 이상 또는 2000원 이하인 버거의 종류와 프랜차이즈명을 출력하세요
burgers %>% filter(가격 >= 4000 | 가격 <= 2000) %>% select(종류,프랜차이즈명)

  종류       프랜차이즈명
1 치즈버거   A
2 치킨버거   A
3 치킨버거   B
4 불고기버거 C
5 치즈버거   C

In [23]:
# 가격이 4000원 이상이고 종류가 치즈버거인 프랜차이즈명을 출력하세요
burgers %>% filter(가격 >= 4000 & 종류 == '치즈버거') %>% select(종류,프랜차이즈명)

  종류     프랜차이즈명
1 치즈버거 A

In [25]:
# 가격이 4000원 이상이고 프랜차이즈명이 A 또는 B인 버거의 종류를 출력하세요
burgers %>% filter(가격 >= 4000 & 프랜차이즈명 %in% c('A','B')) %>% select(종류)

  종류
1 치즈버거
2 치킨버거
3 치킨버거