<a href="https://colab.research.google.com/github/gyujin0450/Rstudy/blob/master/303_%EB%AC%B8%EC%A0%9C%ED%92%80%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# diamonds 데이터셋을 이용해서
# 다음 문제를 풀어보시오
library(ggplot2)
library(dplyr)

In [2]:
head(diamonds)

  carat cut       color clarity depth table price x    y    z
1 0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31
3 0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31
4 0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63
5 0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75
6 0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48

In [5]:
str(diamonds)

tibble [53,940 × 10] (S3: tbl_df/tbl/data.frame)
 $ carat  : num [1:53940] 0.23 0.21 0.23 0.29 0.31 0.24 0.24 0.26 0.22 0.23 ...
 $ cut    : Ord.factor w/ 5 levels "Fair"<"Good"<..: 5 4 2 4 2 3 3 3 1 3 ...
 $ color  : Ord.factor w/ 7 levels "D"<"E"<"F"<"G"<..: 2 2 2 6 7 7 6 5 2 5 ...
 $ clarity: Ord.factor w/ 8 levels "I1"<"SI2"<"SI1"<..: 2 3 5 4 2 6 7 3 4 5 ...
 $ depth  : num [1:53940] 61.5 59.8 56.9 62.4 63.3 62.8 62.3 61.9 65.1 59.4 ...
 $ table  : num [1:53940] 55 61 65 58 58 57 57 55 61 61 ...
 $ price  : int [1:53940] 326 326 327 334 335 336 336 337 337 338 ...
 $ x      : num [1:53940] 3.95 3.89 4.05 4.2 4.34 3.94 3.95 4.07 3.87 4 ...
 $ y      : num [1:53940] 3.98 3.84 4.07 4.23 4.35 3.96 3.98 4.11 3.78 4.05 ...
 $ z      : num [1:53940] 2.43 2.31 2.31 2.63 2.75 2.48 2.47 2.53 2.49 2.39 ...

In [46]:
# 변수들 중 carat, price 모두 출력
# 기존 방식
diamonds[,c('carat','price')] %>% head
# diamonds[,c(1,7)]

  carat price
1 0.23  326
2 0.21  326
3 0.23  327
4 0.29  334
5 0.31  335
6 0.24  336

In [47]:
diamonds %>% select(c('carat','price')) %>% head

  carat price
1 0.23  326
2 0.21  326
3 0.23  327
4 0.29  334
5 0.31  335
6 0.24  336

In [10]:
# 변수들 중 carat, price 제외하고 모두 출력
diamonds %>% select(-c('carat','price')) %>% head

  cut       color clarity depth table x    y    z
1 Ideal     E     SI2     61.5  55    3.95 3.98 2.43
2 Premium   E     SI1     59.8  61    3.89 3.84 2.31
3 Good      E     VS1     56.9  65    4.05 4.07 2.31
4 Premium   I     VS2     62.4  58    4.20 4.23 2.63
5 Good      J     SI2     63.3  58    4.34 4.35 2.75
6 Very Good J     VVS2    62.8  57    3.94 3.96 2.48

In [48]:
# 기존 방식은 오류 발생
diamonds[,-c('carat','price')] %>% head # 
# diamonds[,-c(1,7)]

ERROR: ignored

In [16]:
# cut 변수 값 중 'Ideal' 인 데이터 조회
diamonds %>% filter(cut == 'Ideal') %>% head

  carat cut   color clarity depth table price x    y    z
1 0.23  Ideal E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.23  Ideal J     VS1     62.8  56    340   3.93 3.90 2.46
3 0.31  Ideal J     SI2     62.2  54    344   4.35 4.37 2.71
4 0.30  Ideal I     SI2     62.0  54    348   4.31 4.34 2.68
5 0.33  Ideal I     SI2     61.8  55    403   4.49 4.51 2.78
6 0.33  Ideal I     SI2     61.2  56    403   4.49 4.50 2.75

In [70]:
# carat이 1초과, 5 미만인 데이터 조회
# diamonds %>% filter(carat > 1, carat < 5) %>% head
diamonds %>% filter(carat > 1 & carat < 5) %>% head

  carat cut       color clarity depth table price x    y    z    Ratio
1 1.17  Very Good J     I1      60.2  61    2774  6.83 6.90 4.13 2370.940
2 1.01  Premium   F     I1      61.8  60    2781  6.39 6.36 3.94 2753.465
3 1.01  Fair      E     I1      64.5  58    2788  6.29 6.21 4.03 2760.396
4 1.01  Premium   H     SI2     62.7  59    2788  6.31 6.22 3.93 2760.396
5 1.05  Very Good J     SI2     63.2  56    2789  6.49 6.45 4.09 2656.190
6 1.05  Fair      J     SI2     65.8  59    2789  6.41 6.27 4.18 2656.190
  Double
1 5621357
2 7581571
3 7619786
4 7619786
5 7055348
6 7055348

In [18]:
# carat이 1미만이거나, 5초과인 데이터 조회
diamonds %>% filter(carat < 1 | carat > 5) %>% head

  carat cut       color clarity depth table price x    y    z
1 0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31
3 0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31
4 0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63
5 0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75
6 0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48

In [24]:
# price를 carat으로 나눈 것을 Ratio라는 컬럼으로
diamonds$Ratio <- diamonds$price / diamonds$carat
# Ratio 컬럼을 제곱한것을 Double이라는 컬럼으로 생성
diamonds$Double <- diamonds$Ratio ^ 2
head(diamonds)

  carat cut       color clarity depth table price x    y    z    Ratio
1 0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43 1417.391
2 0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31 1552.381
3 0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31 1421.739
4 0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63 1151.724
5 0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75 1080.645
6 0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48 1400.000
  Double
1 2008998
2 2409887
3 2021342
4 1326468
5 1167794
6 1960000

In [78]:
# dplyr 이용 방식
diamonds %>% mutate( Ratio = price / carat , Double = Ratio ^ 2 ) %>% head

  carat cut       color clarity depth table price x    y    z    Ratio
1 0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43 1417.391
2 0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31 1552.381
3 0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31 1421.739
4 0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63 1151.724
5 0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75 1080.645
6 0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48 1400.000
  Double
1 2008998
2 2409887
3 2021342
4 1326468
5 1167794
6 1960000

In [26]:
str(diamonds)

tibble [53,940 × 12] (S3: tbl_df/tbl/data.frame)
 $ carat  : num [1:53940] 0.23 0.21 0.23 0.29 0.31 0.24 0.24 0.26 0.22 0.23 ...
 $ cut    : Ord.factor w/ 5 levels "Fair"<"Good"<..: 5 4 2 4 2 3 3 3 1 3 ...
 $ color  : Ord.factor w/ 7 levels "D"<"E"<"F"<"G"<..: 2 2 2 6 7 7 6 5 2 5 ...
 $ clarity: Ord.factor w/ 8 levels "I1"<"SI2"<"SI1"<..: 2 3 5 4 2 6 7 3 4 5 ...
 $ depth  : num [1:53940] 61.5 59.8 56.9 62.4 63.3 62.8 62.3 61.9 65.1 59.4 ...
 $ table  : num [1:53940] 55 61 65 58 58 57 57 55 61 61 ...
 $ price  : int [1:53940] 326 326 327 334 335 336 336 337 337 338 ...
 $ x      : num [1:53940] 3.95 3.89 4.05 4.2 4.34 3.94 3.95 4.07 3.87 4 ...
 $ y      : num [1:53940] 3.98 3.84 4.07 4.23 4.35 3.96 3.98 4.11 3.78 4.05 ...
 $ z      : num [1:53940] 2.43 2.31 2.31 2.63 2.75 2.48 2.47 2.53 2.49 2.39 ...
 $ Ratio  : num [1:53940] 1417 1552 1422 1152 1081 ...
 $ Double : num [1:53940] 2008998 2409887 2021342 1326468 1167794 ...

In [27]:
summary(diamonds$price)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
    326     950    2401    3933    5324   18823

In [79]:
# 평균 가격price와 price의 중앙값, 평균 carat을 집계
diamonds %>% summarise(price평균 = mean(price), price중앙값 = median(price),평균carat = mean(carat))

  price평균 price중앙값 평균carat
1 3932.8    2401        0.7979397

In [32]:
# cut 기준으로 평균 가격을 집계
diamonds %>% group_by(cut) %>% summarise(평균가격 = mean(price))

`summarise()` ungrouping output (override with `.groups` argument)

  cut       평균가격
1 Fair      4358.758
2 Good      3928.864
3 Very Good 3981.760
4 Premium   4584.258
5 Ideal     3457.542

In [86]:
# [참고] aggregate() 함수 이용
aggregate(diamonds$price, by=list(diamonds$cut), FUN=mean)

  Group.1   x
1 Fair      4358.758
2 Good      3928.864
3 Very Good 3981.760
4 Premium   4584.258
5 Ideal     3457.542

In [85]:
# [참고] 집계함수 사용자 다음 표현식 사용 가능 : a ~ b + c
# a : 집계하고자하는 대상
# b : 그룹으로 묶을 기준 컬럼
# c : 그룹으로 묶을 기준 컬럼2
aggregate(price~cut, diamonds, FUN= mean)

  cut       price
1 Fair      4358.758
2 Good      3928.864
3 Very Good 3981.760
4 Premium   4584.258
5 Ideal     3457.542

In [81]:
# cut 기준으로 평균 가격을 집계하고 평균가격으로 오름차순
diamonds %>% group_by(cut) %>% summarise(평균가격 = mean(price)) %>% arrange(평균가격)

`summarise()` ungrouping output (override with `.groups` argument)

  cut       평균가격
1 Ideal     3457.542
2 Good      3928.864
3 Very Good 3981.760
4 Fair      4358.758
5 Premium   4584.258

In [84]:
# carat에 한해서 mean, sum 구함
diamonds %>% group_by(carat) %>% summarise(mean = mean(carat), sum = sum(carat)) %>% head # 의미가 ??

`summarise()` ungrouping output (override with `.groups` argument)

  carat mean sum
1 0.20  0.20  2.40
2 0.21  0.21  1.89
3 0.22  0.22  1.10
4 0.23  0.23 67.39
5 0.24  0.24 60.96
6 0.25  0.25 53.00

In [35]:
# cut, color 기준으로 평균 가격을 avgPrice로, 총 carat을 sumCarat이라는 이름으로 집계
diamonds %>% group_by(cut, color) %>% summarise(avgPrice = mean(price), sumCarat = sum(carat))

`summarise()` regrouping output by 'cut' (override with `.groups` argument)

   cut       color avgPrice sumCarat
1  Fair      D     4291.061  149.98
2  Fair      E     3682.312  191.88
3  Fair      F     3827.003  282.27
4  Fair      G     4239.255  321.48
5  Fair      H     5135.683  369.41
6  Fair      I     4685.446  209.66
7  Fair      J     4975.655  159.60
8  Good      D     3405.382  492.87
9  Good      E     3423.644  695.21
10 Good      F     3495.750  705.32
11 Good      G     4123.482  741.13
12 Good      H     4276.255  642.14
13 Good      I     5078.533  551.87
14 Good      J     4574.173  337.56
15 Very Good D     3470.467 1053.69
16 Very Good E     3214.652 1623.16
17 Very Good F     3778.820 1603.44
18 Very Good G     3872.754 1762.87
19 Very Good H     4535.390 1670.69
20 Very Good I     5255.880 1260.53
21 Very Good J     5103.513  768.32
22 Premium   D     3631.293 1156.64
23 Premium   E     3538.914 1677.37
24 Premium   F     4324.890 1927.82
25 Premium   G     4500.742 2460.51
26 Premium   H     5216.707 2398.82
27 Premium   I     5946.181 1634.97
28 Premium   J     6294.592 1044.82
29 Ideal     D     2629.095 1603.38
30 Ideal     E     2597.550 2257.50
31 Ideal     F     3374.939 2509.20
32 Ideal     G     3720.706 3422.29
33 Ideal     H     3889.335 2490.52
34 Ideal     I     4451.970 1910.97
35 Ideal     J     4918.186  952.98

In [36]:
# color 기준으로 평균 가격을 avgPrice로, 총 carat을 sumCarat이라는 이름으로 집계하고 평균가격으로 내림차순 정렬
diamonds %>% group_by(color) %>% summarise(avgPrice = mean(price), sumCarat = sum(carat)) %>% arrange(avgPrice)

`summarise()` ungrouping output (override with `.groups` argument)

  color avgPrice sumCarat
1 E     3076.752 6445.12
2 D     3169.954 4456.56
3 F     3724.886 7028.05
4 G     3999.136 8708.28
5 H     4486.669 7571.58
6 I     5091.875 5568.00
7 J     5323.818 3263.28

In [38]:
# color 기준으로 평균 가격을 avgPrice로, 총 carat을 sumCarat이라는 이름으로 집계하고 평균가격은 내림차순 정렬,
# 총 carat은 오름차순으로 정렬
diamonds %>% group_by(color) %>% summarise(avgPrice = mean(price), sumCarat = sum(carat)) %>% 
arrange(desc(avgPrice),sumCarat)

`summarise()` ungrouping output (override with `.groups` argument)

  color avgPrice sumCarat
1 J     5323.818 3263.28
2 I     5091.875 5568.00
3 H     4486.669 7571.58
4 G     3999.136 8708.28
5 F     3724.886 7028.05
6 D     3169.954 4456.56
7 E     3076.752 6445.12

In [49]:
# 변수명중 c로 시작하는 것만 출력
diamonds[,starts_with('c')] # 실행오류 발생

ERROR: ignored

In [51]:
diamonds %>% select(starts_with('c')) %>% head

  carat cut       color clarity
1 0.23  Ideal     E     SI2
2 0.21  Premium   E     SI1
3 0.23  Good      E     VS1
4 0.29  Premium   I     VS2
5 0.31  Good      J     SI2
6 0.24  Very Good J     VVS2

In [53]:
# 변수명중 e로 끝나는 것만 출력 
diamonds %>% select(ends_with('e')) %>% head

  table price Double
1 55    326   2008998
2 61    326   2409887
3 65    327   2021342
4 58    334   1326468
5 58    335   1167794
6 57    336   1960000

In [56]:
# 변수명중 l을 포함하는 것만 출력 
diamonds %>% select(contains('l')) %>% head

  color clarity table Double
1 E     SI2     55    2008998
2 E     SI1     61    2409887
3 E     VS1     65    2021342
4 I     VS2     58    1326468
5 J     SI2     58    1167794
6 J     VVS2    57    1960000

In [62]:
diamonds %>% select(matches('l')) %>% head # contains() 와 기능은 같고, 추가로 정규식 사용 가능

  color clarity table Double
1 E     SI2     55    2008998
2 E     SI1     61    2409887
3 E     VS1     65    2021342
4 I     VS2     58    1326468
5 J     SI2     58    1167794
6 J     VVS2    57    1960000

In [64]:
# 변수명중 r과 t를 포함한 것만 출력 
# diamonds %>% select(contains(c('r','t'))) %>% head (X)
diamonds %>% select(contains('r') & contains('t')) %>% head

  carat clarity Ratio
1 0.23  SI2     1417.391
2 0.21  SI1     1552.381
3 0.23  VS1     1421.739
4 0.29  VS2     1151.724
5 0.31  SI2     1080.645
6 0.24  VVS2    1400.000

In [67]:
# 정규식에서 . 은 임의의 문자하나 의미 
diamonds %>% select(matches('r.t')) %>% head

  carat clarity Ratio
1 0.23  SI2     1417.391
2 0.21  SI1     1552.381
3 0.23  VS1     1421.739
4 0.29  VS2     1151.724
5 0.31  SI2     1080.645
6 0.24  VVS2    1400.000

In [69]:
# 정규식에서 + 는 문자하나 이상을 의미
diamonds %>% select(matches('r.+t')) %>% head

  carat clarity Ratio
1 0.23  SI2     1417.391
2 0.21  SI1     1552.381
3 0.23  VS1     1421.739
4 0.29  VS2     1151.724
5 0.31  SI2     1080.645
6 0.24  VVS2    1400.000

In [ ]:
# 정규식 사용하기
1234567890
abcdefghijklmnopqrstuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ
가나다라마바사아자차카타파하

# 정규식 사용하기
^1 : 1로 시작
0$ : 0으로 끝남
[479sx다라] : 4,7,9,.. 문자열을 순서대로

In [73]:
# 1행부터 5행까지 데이터 조회
# diamonds[1:5,]
# diamonds[c(1:5),]
# diamonds[seq(1,5),]
diamonds %>% slice(1:5)

  carat cut     color clarity depth table price x    y    z    Ratio    Double
1 0.23  Ideal   E     SI2     61.5  55    326   3.95 3.98 2.43 1417.391 2008998
2 0.21  Premium E     SI1     59.8  61    326   3.89 3.84 2.31 1552.381 2409887
3 0.23  Good    E     VS1     56.9  65    327   4.05 4.07 2.31 1421.739 2021342
4 0.29  Premium I     VS2     62.4  58    334   4.20 4.23 2.63 1151.724 1326468
5 0.31  Good    J     SI2     63.3  58    335   4.34 4.35 2.75 1080.645 1167794

In [77]:
# 1~5행, 8행, 15~20행 데이터 조회
# diamonds[c(1:5,8,15:20),]
diamonds %>% slice(1:5,8,15:20)

   carat cut       color clarity depth table price x    y    z    Ratio
1  0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43 1417.391
2  0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31 1552.381
3  0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31 1421.739
4  0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63 1151.724
5  0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75 1080.645
6  0.26  Very Good H     SI1     61.9  55    337   4.07 4.11 2.53 1296.154
7  0.20  Premium   E     SI2     60.2  62    345   3.79 3.75 2.27 1725.000
8  0.32  Premium   E     I1      60.9  58    345   4.38 4.42 2.68 1078.125
9  0.30  Ideal     I     SI2     62.0  54    348   4.31 4.34 2.68 1160.000
10 0.30  Good      J     SI1     63.4  54    351   4.23 4.29 2.70 1170.000
11 0.30  Good      J     SI1     63.8  56    351   4.23 4.26 2.71 1170.000
12 0.30  Very Good J     SI1     62.7  59    351   4.21 4.27 2.66 1170.000
   Double
1  2008998
2  2409887
3  2021342
4  1326468
5  1167794
6  1680015
7  2975625
8  1162354
9  1345600
10 1368900
11 1368900
12 1368900

In [76]:
# 1~5행 제외하고 데이터 조회
# diamonds[-c(1:5),] %>% head
diamonds %>% slice(-c(1:5)) %>% head

  carat cut       color clarity depth table price x    y    z    Ratio
1 0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48 1400.000
2 0.24  Very Good I     VVS1    62.3  57    336   3.95 3.98 2.47 1400.000
3 0.26  Very Good H     SI1     61.9  55    337   4.07 4.11 2.53 1296.154
4 0.22  Fair      E     VS2     65.1  61    337   3.87 3.78 2.49 1531.818
5 0.23  Very Good H     VS1     59.4  61    338   4.00 4.05 2.39 1469.565
6 0.30  Good      J     SI1     64.0  55    339   4.25 4.28 2.73 1130.000
  Double
1 1960000
2 1960000
3 1680015
4 2346467
5 2159622
6 1276900