<a href="https://colab.research.google.com/github/gyujin0450/Rstudy/blob/master/R04_%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
emploees <- read.csv('https://raw.githubusercontent.com/gyujin0450/dataset/master/EMPLOYEES.csv')
wintermedals <- read.csv('https://raw.githubusercontent.com/gyujin0450/dataset/master/wintermedals.csv')
summermedals <- read.csv('https://raw.githubusercontent.com/gyujin0450/dataset/master/summermedals.csv')

In [ ]:
str(emploees)

'data.frame':	107 obs. of  11 variables:
 $ EMPLOYEE_ID   : int  100 101 102 103 104 105 106 107 108 109 ...
 $ FIRST_NAME    : Factor w/ 91 levels "Adam","Alana",..: 80 64 51 4 11 18 88 20 61 16 ...
 $ LAST_NAME     : Factor w/ 102 levels "Abel","Ande",..: 50 51 20 44 24 4 74 57 38 27 ...
 $ EMAIL         : Factor w/ 107 levels "ABANDA","ABULL",..: 90 74 61 6 11 17 104 23 73 19 ...
 $ PHONE_NUMBER  : Factor w/ 107 levels "011.44.1343.329268",..: 37 38 39 58 59 60 57 61 50 45 ...
 $ HIRE_DATE     : Factor w/ 98 levels "2001-01-13","2002-06-07",..: 8 40 1 49 79 34 51 73 4 3 ...
 $ JOB_ID        : Factor w/ 19 levels "AC_ACCOUNT","AC_MGR",..: 4 5 5 9 9 9 9 9 7 6 ...
 $ SALARY        : int  24000 17000 17000 9000 6000 4800 4800 4200 12008 9000 ...
 $ COMMISSION_PCT: num  NA NA NA NA NA NA NA NA NA NA ...
 $ MANAGER_ID    : int  NA 100 100 102 103 103 103 103 101 108 ...
 $ DEPARTMENT_ID : int  90 90 90 60 60 60 60 60 100 100 ...

In [ ]:
summary(emploees)

  EMPLOYEE_ID        FIRST_NAME     LAST_NAME       EMAIL
 Min.   :100.0   David    : 3   Cambrault: 2   ABANDA  :  1
 1st Qu.:126.5   John     : 3   Grant    : 2   ABULL   :  1
 Median :153.0   Peter    : 3   King     : 2   ACABRIO :  1
 Mean   :153.0   Alexander: 2   Smith    : 2   AERRAZUR:  1
 3rd Qu.:179.5   James    : 2   Taylor   : 2   AFRIPP  :  1
 Max.   :206.0   Jennifer : 2   Abel     : 1   AHUNOLD :  1
                 (Other)  :92   (Other)  :96   (Other) :101
             PHONE_NUMBER      HIRE_DATE         JOB_ID       SALARY
 011.44.1343.329268:  1   2002-06-07: 4   SA_REP    :30   Min.   : 2100
 011.44.1343.529268:  1   2005-03-10: 2   SH_CLERK  :20   1st Qu.: 3100
 011.44.1343.629268:  1   2005-08-20: 2   ST_CLERK  :20   Median : 6200
 011.44.1343.729268:  1   2006-01-24: 2   FI_ACCOUNT: 5   Mean   : 6462
 011.44.1343.829268:  1   2007-02-07: 2   IT_PROG   : 5   3rd Qu.: 8900
 011.44.1343.929268:  1   2007-06-21: 2   PU_CLERK  : 5   Max.   :24000
 (Other)           :101   (Other)   :93   (Other)   :22
 COMMISSION_PCT     MANAGER_ID    DEPARTMENT_ID
 Min.   :0.1000   Min.   :100.0   Min.   : 10.00
 1st Qu.:0.1500   1st Qu.:108.0   1st Qu.: 50.00
 Median :0.2000   Median :122.0   Median : 50.00
 Mean   :0.2229   Mean   :124.8   Mean   : 63.21
 3rd Qu.:0.3000   3rd Qu.:145.0   3rd Qu.: 80.00
 Max.   :0.4000   Max.   :205.0   Max.   :110.00
 NA's   :72       NA's   :1       NA's   :1

In [ ]:
colSums(is.na(emploees))

   EMPLOYEE_ID     FIRST_NAME      LAST_NAME          EMAIL   PHONE_NUMBER
             0              0              0              0              0
     HIRE_DATE         JOB_ID         SALARY COMMISSION_PCT     MANAGER_ID
             0              0              0             72              1
 DEPARTMENT_ID
             1