<a href="https://colab.research.google.com/github/gyujin0450/Rstudy/blob/master/R13_%EC%B6%94%EC%A0%95%EA%B3%BC%EA%B2%80%EC%A0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[이론자료](https://github.com/siestageek/python_statistics/blob/master/%ED%8C%8C%EC%9D%B4%EC%8D%AC%ED%86%B5%EA%B3%8414_%EA%B0%80%EC%84%A4%EA%B3%BC%EA%B2%80%EC%A0%95.ipynb)

단일 표본 t-검정
- 모집단의 평균값과 검정 값을 비교할 때 사용
- 흔하게 사용되는 분석은 아님

예) 성인의 평균는 67.6(172cm)인지 알아보자!
- H0 : 성인의 평균키는 67.6 인지이다.
- H1 : 성인의 평균키는 67.6 인지아니다.
  *  검정 방법(1) : 방향성이 없으므로 양측검정 실시
  *  유의 수준(1) : 0.05 ( 양측 : 0.025 )

- H2 : 성인의 평균키는 67.6 인지 이상이다.
- H3 : 성인의 평균키는 67.6 인지 미만이다.
  * 건정 방법(2,3) : 방향성이 포함되므로 단측 검정 실시
  * 유의 수준(2,3) : 0.05 ( 단측 : 0.05 )

R에서 단일표본 t-검증을 알아보려면 t.test 함수 사용
- t.test(표본, mu = 평균, alterantive = 단측/양측 여부)

In [1]:
# 데이터 가져오기
h <- read.csv("https://raw.githubusercontent.com/siestageek/datasets/master/csv/coffee.csv")

In [2]:
head(h)

  user_id age  drinks_coffee height
1 4509    <21  False         64.53818
2 1864    >=21 True          65.82425
3 2060    <21  False         71.31985
4 7875    >=21 True          68.56940
5 6254    <21  True          64.02023
6 3742    <21  False         63.49178

In [3]:
str(h)

'data.frame':	2974 obs. of  4 variables:
 $ user_id      : int  4509 1864 2060 7875 6254 3742 4996 5695 2619 2368 ...
 $ age          : chr  "<21" ">=21" "<21" ">=21" ...
 $ drinks_coffee: chr  "False" "True" "False" "True" ...
 $ height       : num  64.5 65.8 71.3 68.6 64 ...

In [4]:
summary(h$height)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  56.22   65.27   67.95   67.60   69.79   76.19

In [6]:
# t 검점1 : 양측 검정
t.test(h$height, mu = 67.6, alternative = c('two.sided'))

	One Sample t-test

data:  h$height
t = -0.043933, df = 2973, p-value = 0.965
alternative hypothesis: true mean is not equal to 67.6
95 percent confidence interval:
 67.48533 67.70964
sample estimates:
mean of x
 67.59749

(양측검증) p-value > 0.025 이므로 h0 채택, 즉 평균키 67.6 이다!!

In [7]:
# t 검점2 : 단측 검정, 오른쪽 꼬리(이상)
t.test(h$height, mu = 67.6, alternative = c('greater'))

	One Sample t-test

data:  h$height
t = -0.043933, df = 2973, p-value = 0.5175
alternative hypothesis: true mean is greater than 67.6
95 percent confidence interval:
 67.50337      Inf
sample estimates:
mean of x
 67.59749

(단측검정) p-value > 0.05 이므로 h0 채택,즉 평균키는 67.6이다!!

In [8]:
# t 검점3 : 단측 검정, 왼쪽 꼬리(미만)
t.test(h$height, mu = 67.6, alternative = c('less'))

	One Sample t-test

data:  h$height
t = -0.043933, df = 2973, p-value = 0.4825
alternative hypothesis: true mean is less than 67.6
95 percent confidence interval:
    -Inf 67.6916
sample estimates:
mean of x
 67.59749

(단측검정) p-value > 0.05 이므로 h0 채택,즉 평균키는 67.6이다!!